<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Dashboard</title>
</head>
<body>
    <header class="header-logo">
        <h2 class="dashboard-user">Usuário</h2>
        <p>|</p>
        <h2 class="dashboard-logout" id="dashboard-logout-button">Logout</h2>
        <p>|</p>
    </header>
    <div class="dashboard-container">
        <h1>LOGIN CONCLUÍDO</h1>
    </div>
</body>
</html>