<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div>
            <p class="dashboard-user">{{ user_name }}</p>
        </div>
        <div>
            <p class="dashboard-logout" id="dashboard-logout-button">Logout</p>
        </div>
    </header>
    <div class="dashboard-container">
        <h1>LOGIN CONCLUÍDO</h1>
    </div>
    <form method="post">
        <label for="task">Informe algo:</label>
        <input type="text" id="task" name="task" required>
        <button type="submit">Salvar</button>
    </form>
    {% if task_data %}
    <h2>Lista de Tarefas:</h2>
    <ul>
        {% for task in task_data %}
        <li>{{ task.task }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <script>
        document.getElementById("dashboard-logout-button").onclick = function() {
            window.location.href = "/logout";
        };
    </script>
</body>
</html>