<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Dashboard</title>
</head>
<body>
    <header class="header-logo">
        <img src="" alt="logo-buttom_home" id="homeButton">
        <p>|</p>
        <h2 class="dashboard-user">Usuário</h2>
        <p>|</p>
        <h2 class="dashboard-logout" id="dashboard-logout-button">Logout</h2>
        <p>|</p>
    </header>
    <h3>Suas Tarefas:</h3>
    <div class="dashboard-container">
        <div class="dashboard-todo-div", id="todo-list">
            <div>
                <h4>Lorem, ipsum</h4>
                <h5>Lorem, ipsum</h5>
                <form action="" class="dashboard-todo-form">
                    <input type="text" class="dashboard-todo-input" placeholder="Digite aqui o nome da tarefa:">
                    <button class="dashboard-todo-button">+</button>
                </form>
            </div>
        </div>
        <div class="dashboard-todo-div", id="todo-list">
            <div>
                <h4>Lorem, ipsum</h4>
                <h5>Lorem, ipsum</h5>
                <form action="" class="dashboard-todo-form">
                    <input type="text" class="dashboard-todo-input" placeholder="Digite aqui o nome da tarefa:">
                    <button class="dashboard-todo-button">+</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>